---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro" bodyclass="inner-page">
    <div class="portfolio-main-wrapper-portfolio-8">
        <section class="hero-slider hero-style">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="slide-inner slide-bg-image"
                            data-background="assets/images/banner/21.jpg"
                        >
                            <div class="banner-area-portfolio-eight">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="banner-main-wrapper">
                                                <h1 class="title">
                                                    Abstract <br /> Brand Strategy
                                                </h1>
                                                <p class="disc">
                                                    Brand identity and strategy
                                                    are crucial elements that
                                                    define how a <br /> company presents
                                                    itself to the world and how it
                                                    is perceived by its <br /> target
                                                    audience.
                                                </p>
                                                <a
                                                    href="#"
                                                    class="p-view-pro-btn"
                                                    >View Project <i
                                                        class="fa-solid fa-arrow-up-right"
                                                    ></i></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            class="slide-inner slide-bg-image"
                            data-background="assets/images/banner/22.jpg"
                        >
                            <div class="banner-area-portfolio-eight">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="banner-main-wrapper">
                                                <h1 class="title">
                                                    Abstract <br /> Brand Strategy
                                                </h1>
                                                <p class="disc">
                                                    Brand identity and strategy
                                                    are crucial elements that
                                                    define how a <br /> company presents
                                                    itself to the world and how it
                                                    is perceived by its <br /> target
                                                    audience.
                                                </p>
                                                <a
                                                    href="#"
                                                    class="p-view-pro-btn"
                                                    >View Project <i
                                                        class="fa-solid fa-arrow-up-right"
                                                    ></i></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            class="slide-inner slide-bg-image"
                            data-background="assets/images/banner/23.jpg"
                        >
                            <div class="banner-area-portfolio-eight">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="banner-main-wrapper">
                                                <h1 class="title">
                                                    Abstract <br /> Brand Strategy
                                                </h1>
                                                <p class="disc">
                                                    Brand identity and strategy
                                                    are crucial elements that
                                                    define how a <br /> company presents
                                                    itself to the world and how it
                                                    is perceived by its <br /> target
                                                    audience.
                                                </p>
                                                <a
                                                    href="#"
                                                    class="p-view-pro-btn"
                                                    >View Project <i
                                                        class="fa-solid fa-arrow-up-right"
                                                    ></i></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="slide-inner slide-bg-image"
                            data-background="assets/images/banner/22.jpg"
                        >
                            <div class="banner-area-portfolio-eight">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="banner-main-wrapper">
                                                <h1 class="title">
                                                    Abstract <br /> Brand Strategy
                                                </h1>
                                                <p class="disc">
                                                    Brand identity and strategy
                                                    are crucial elements that
                                                    define how a <br /> company presents
                                                    itself to the world and how it
                                                    is perceived by its <br /> target
                                                    audience.
                                                </p>
                                                <a
                                                    href="#"
                                                    class="p-view-pro-btn"
                                                    >View Project <i
                                                        class="fa-solid fa-arrow-up-right"
                                                    ></i></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            class="slide-inner slide-bg-image"
                            data-background="assets/images/banner/23.jpg"
                        >
                            <div class="banner-area-portfolio-eight">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="banner-main-wrapper">
                                                <h1 class="title">
                                                    Abstract <br /> Brand Strategy
                                                </h1>
                                                <p class="disc">
                                                    Brand identity and strategy
                                                    are crucial elements that
                                                    define how a <br /> company presents
                                                    itself to the world and how it
                                                    is perceived by its <br /> target
                                                    audience.
                                                </p>
                                                <a
                                                    href="#"
                                                    class="p-view-pro-btn"
                                                    >View Project <i
                                                        class="fa-solid fa-arrow-up-right"
                                                    ></i></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </section>

        <div class="social-share-horizental scroll-down-circle">
            <ul>
                <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            </ul>
            <p>Follow Me</p>
        </div>
    </div>
</Layout>
