---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro" bodyclass="inner-page coming-soon">
    <div class="rts-coming-soon error">
        <div class="container">
            <div class="section-inner text-center">
                <h2 class="title-elements-parent">
                    <span>404</span>
                    <br />
                    Page Not Found
                </h2>
                <p class="desc">
                    Sorry , the page you seems looking for, has been <br /> moved,
                    redirected or removed permanently
                </p>
                <div class="buttons-main-wrapper-elements justify-content-center" >
                    <a href="/" class="rts-btn btn-primary" >Back To Homepage</a >
                </div>
            </div>
        </div>
    </div>
</Layout>
