---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro" bodyclass="inner-page">
	<div class="rts-breadcrumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="baread-crumb-main-wrapper pt--100">
                        <div class="inner">
                            <span class="works">Articles & News</span>
                            <h1 class="title rts_hero__title">Blog Posts</h1>
                            <span class="bg-text">Blog Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="blog-list-area pb--120 pt--80">
        <div class="container-150  rts-section-gap">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-blog-list-one rts-skew-up-gsap">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="assets/images/blog/11.jpg" alt="blog_images">
                        </a>
                        <div class="blog-content-area">
                            <span>Photography / Module Design</span>
                            <a href="blog-details.html">
                                <h3 class="title quote">Awesome Photography Module Design <br>
                                    Interactive Journey</h3>
                            </a>
                            <p class="disc">
                                If you want to have an effective content with the latest trends. When you think of creating <br> content most people’s minds go straight to blogging.
                            </p>
                            <a href="blog-details.html" class="read-more-bb">Read More</a>
                        </div>
                    </div>
                    <div class="single-blog-list-one rts-skew-up-gsap">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="assets/images/blog/12.jpg" alt="blog_images">
                        </a>
                        <div class="blog-content-area">
                            <span>Photography / Module Design</span>
                            <a href="blog-details.html">
                                <h3 class="title quote">Awesome Photography Module Design <br>
                                    Interactive Journey</h3>
                            </a>
                            <p class="disc">
                                If you want to have an effective content with the latest trends. When you think of creating <br> content most people’s minds go straight to blogging.
                            </p>
                            <a href="blog-details.html" class="read-more-bb">Read More</a>
                        </div>
                    </div>
                    <div class="single-blog-list-one rts-skew-up-gsap">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="assets/images/blog/13.jpg" alt="blog_images">
                        </a>
                        <div class="blog-content-area">
                            <span>Photography / Module Design</span>
                            <a href="blog-details.html">
                                <h3 class="title quote">Awesome Photography Module Design <br>
                                    Interactive Journey</h3>
                            </a>
                            <p class="disc">
                                If you want to have an effective content with the latest trends. When you think of creating <br> content most people’s minds go straight to blogging.
                            </p>
                            <a href="blog-details.html" class="read-more-bb">Read More</a>
                        </div>
                    </div>
                    <div class="single-blog-list-one rts-skew-up-gsap">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="assets/images/blog/14.jpg" alt="blog_images">
                        </a>
                        <div class="blog-content-area">
                            <span>Photography / Module Design</span>
                            <a href="blog-details.html">
                                <h3 class="title quote">Awesome Photography Module Design <br>
                                    Interactive Journey</h3>
                            </a>
                            <p class="disc">
                                If you want to have an effective content with the latest trends. When you think of creating <br> content most people’s minds go straight to blogging.
                            </p>
                            <a href="blog-details.html" class="read-more-bb">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
