---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Website & App Development Agency"
    bodyclass="inner-page contact-page"
>
    <div class="rts-breadcrumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="baread-crumb-main-wrapper pt--100">
                        <div class="inner">
                            <h1 class="title rts_hero__title">
                                Privacy Policy
                            </h1>
                            <span class="bg-text">Privacy Policy</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="appoinmnet-area-two rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Effective Date: 1/12/2024</h6>

                    <p class="mb-5">
                        [Your Startup Name] (“we,” “our,” “us”) is committed to
                        protecting your privacy. This Privacy Policy explains
                        how we collect, use, and safeguard your information when
                        you use our services, including website and application
                        development services.
                    </p>
                    <p>
                        By using our services, you agree to the collection and
                        use of information in accordance with this Privacy
                        Policy.
                    </p>
                    <div class="mb-5">
                        <h4 class="mb-2">1. Information We Collect</h4>
                        <p class="mb-5">
                            We may collect the following types of information:
                        </p>
                        <div class="ps-5">
                            <h6 class="mb-0">a. Personal Information:</h6>
                            <ul class="mb-5">
                                <li>
                                    Name, email address, phone number, and
                                    business details when you contact us or sign
                                    up for our services.
                                </li>
                            </ul>
                            <h6 class="mb-0">b. Non-Personal Information:</h6>
                            <ul class="mb-5">
                                <li>
                                    Technical details such as browser type, IP
                                    address, device type, and usage data
                                    collected through cookies and similar
                                    technologies.
                                </li>
                            </ul>
                            <h6 class="mb-0">c. Project Data:</h6>
                            <ul>
                                <li>
                                    Details, assets, and content provided by you
                                    to develop your website or app.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">2. How We Use Your Information</h4>
                        <p class="mb-0">
                            We use your information for the following purposes:
                        </p>
                        <ul>
                            <li>
                                To provide, improve, and customize our services.
                            </li>
                            <li>
                                To communicate with you regarding project
                                updates, support, and other inquiries.
                            </li>
                            <li>
                                To analyze and improve the functionality and
                                performance of our website and services.
                            </li>
                        </ul>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">3. Sharing Your Information</h4>
                        <p class="mb-0">
                            We do not sell or rent your information. However, we
                            may share your information:
                        </p>
                        <ul>
                            <li>
                                With trusted third-party service providers for
                                the purpose of delivering our services (e.g.,
                                hosting platforms or payment processors).
                            </li>
                            <li>
                                If required by law or in response to valid legal
                                requests.
                            </li>
                        </ul>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">4. Data Security</h4>
                        <p class="mb-0">
                            We implement reasonable technical and organizational
                            measures to protect your information against
                            unauthorized access, loss, or misuse.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">
                            5. Cookies and Tracking Technologies
                        </h4>
                        <p class="mb-0">
                            We use cookies and similar technologies to enhance
                            your user experience and analyze website
                            performance. You can manage your cookie preferences
                            through your browser settings.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">6. Third-Party Links</h4>
                        <p class="mb-0">
                            Our services may include links to third-party
                            websites. We are not responsible for the privacy
                            practices or content of these sites.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">7. Your Rights</h4>
                        <p class="mb-0">
                            Depending on applicable laws, you may have rights
                            regarding your personal data, including:
                        </p>
                        <ul>
                            <li>Accessing and correcting your data.</li>
                            <li>Requesting deletion of your data.</li>
                            <li>Opting out of certain communications</li>
                        </ul>
                        <p class="mb-0">
                            To exercise these rights, contact us at info@appvertix.com.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">8. Children’s Privacy</h4>
                        <p class="mb-0">
                            Our services are not intended for individuals under
                            the age of 18. We do not knowingly collect personal
                            data from minors.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">9. Updates to This Policy</h4>
                        <p class="mb-0">
                            We may update this Privacy Policy from time to time.
                            We encourage you to review it periodically for any
                            changes.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-2">10. Contact Us</h4>
                        <p class="mb-0">
                            If you have any questions or concerns about this
                            Privacy Policy or our data practices, please contact
                            us at:<br />
                            Email: info@appvertix.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
