a {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input[type="color"] {
  @apply border border-stroke bg-white appearance-none w-8 h-8;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  @apply p-1
}

input[type="color"]::-webkit-color-swatch {
  @apply border-none
}

.cpatc-widget {
  position: absolute !important;
  z-index: 1 !important;
}

.mobile-view .hide-mobile {
  display: none !important;
}


.mobile-view .cpatc-widget.cpatc-boxed {
  margin: 0;
  border-radius: 0;
}

.mobile-view #widget-content {
  flex-direction: column;
}

.mobile-view .cpatc-product {
  max-width: 100%;
  margin-bottom: 10px;
  width: 100%;
}

.mobile-view .cpatc-widget-events {
  flex-direction: column;
  width: 100%;
}

.mobile-view .cpatc-options {
  width: 100%;
  margin-bottom: 12px;
  gap: 5px;
}

.mobile-view .cpatc-options>div {
  margin-left: 0;
  flex-grow: 1;
  flex-basis: 0;
}

.mobile-view .cpatc-actions {
  margin-left: 0;
  width: 100%;
}

.mobile-view .cpatc-action-wrapper {
  flex-grow: 1;
}
.desktop-view .cpatc-widget.cpatc-boxed {  
  padding-left: 15px;
  padding-right: 15px;
}

.mobile-view .cpatc-widget.cpatc-boxed {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mobile-view .cpatc-widget.cpatc-fixed-d-bottom.cpatc-boxed {
  margin-bottom: 0;
}

@media (max-width:768px) {
  .desktop-view #widget-content {
    flex-direction: inherit !important;
  }

  .desktop-view .cpatc-widget.cpatc-boxed {
    
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    border-radius: 10px !important;
  }

  .desktop-view .cpatc-product {
    max-width: 50% !important;
  }

  .desktop-view .cpatc-widget-events {
    flex-direction: inherit !important;
    width: auto !important;
  }

  .desktop-view .cpatc-options {
    width: auto !important;
    margin-bottom: 0 !important;
    gap: 0 !important;
  }

  .desktop-view .cpatc-options>div {
    margin-left: 12px !important;
    flex-grow: 0 !important;
    flex-basis: 0 !important;
  }

  .desktop-view .cpatc-actions {
    margin-left: 12px !important;
    width: auto !important;
  }
  
}

/* Toaster */

.colored-toast.swal2-icon-success {
  background-color: #48a481 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f63e3e !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
  font-size: 20px !important;
  font-weight: 500;
}
