<header class="header-area header-one header--sticky">
	<div class="header-container-one">
		<div class="header-wrapper">
			<a href="/" class="logo">
				<img src={`${import.meta.env.BASE_URL}images/logo-white.png`} alt="logo" />
			</a>
			<div class="header-right">
				<nav class="nav-area drop-down-rts">
					<ul class="navbar-nav-1">
						<li class="menu-item main-nav-on menu-item-has-children">
							<a class="menu-link" href="/"><span class="rolling-text">Home</span></a>
						</li>
						<li class="menu-item main-nav-on menu-item-has-children">
							<a class="menu-link" href="/about"><span class="rolling-text">About Us</span></a>
						</li>
						<li class="menu-item main-nav-on menu-item-has-children">
							<a class="menu-link" href="/portfolio"><span class="rolling-text">Portfolio</span></a>
						</li>
						<li class="menu-item main-nav-on menu-item-has-children">
							<a class="menu-link" href="/services"><span class="rolling-text">Services</span></a>
						</li>
						<li class="menu-item main-nav-on">
							<a class="menu-link" href="/blogs"><span class="rolling-text">Blogs</span></a>
						</li>
						<li class="menu-item main-nav-on">
							<a class="menu-link" href="/contact"><span class="rolling-text">Contact Us</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>